.portfolio {
  &_bg-white {
    background-color: #ffffff;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    padding: 0 101px 70px 101px;
  }

  &__image {
    transition: 1s;

    &_scale:hover {
      transform: scale(1.3);
    }
  }

  
}