@include laptop {

  /* ___________ header ___________ */
  .header-menu {
    max-width: $lap-container;
    width: 100%;
    padding: 16px 0px 10px 0;
    margin: 0 auto;
    
    &__burger {
      display: block;
    }

    &__logo-link {
      margin-left: -97px;
      margin-top: 8px;
      transform: scale(1.2);
    }

    &__ul {
      display: none;
    }

    &__button {
      padding-right: 30px;
      margin-top: -6px;
      
      &:last-child {
        padding-right: 30px;
      }

    }
  }
  /* ___________ main-info ___________ */
  .main-info{
    background-image: url(../images/main-info/background-lap.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: $bp_lap;
    width: 100%;
    min-width: $bp_tab;
    &-wrapper {
      justify-content: flex-start;
    }
    
    &__presentation {
      margin-left: 23px;
      padding-bottom: 65px;
    }

    &__order {
      display: none;
    }
  }

  /* ___________ services ___________ */

  .services {
    &__list {
      gap: 38px 0;
      justify-content: center;
    }
  }

  /* ___________ about ___________ */

  .about {
    &__ul {
      margin-top: 34px;
    }
    &__li {
      margin-left: -10px;
      margin-right: 10px;
    }
    &__buttons {
      margin-top: -5px;
      margin-bottom: 10px;
    }
  }
  .about-list {
    width: $lap-container;
    
    &_prop {
      margin-bottom: 88px;
    }
    &__info {
      padding-left: 28px;
    }

    &__photo {
      background-size: cover;
      width: 100%;
      background-position: center center;
    }

    &__description {
      margin-left: 19%;
    }
  }

  .about-qualities {
    justify-content: space-around;
    margin-right: 12px;
    padding-left: 60px;
    padding-right: 15px;
    &__element {
      justify-content: flex-start;
      margin-bottom: 45px;
      width: 340px;
      padding-left: 0px;
    }

    &__logo_pic6 {
      margin-top: -10px;
      margin-bottom: 10px;
    }


  }

  /* ___________ portfolio ___________ */

  .portfolio {
    &_bg-white {
      contain: content;
    }
    &__images {
      gap: 0 45px;
      padding: 0 80px 70px 70px;;
    }
    &__image {
      &:nth-last-child(1) {
        display: none;
      }
    }
    
    
  }
  /* ___________ faq ___________ */
  .faq {
    &__container {
      margin-bottom: 42px;
    }
    &__list {
      width: 800px;
      padding-bottom: 45px;
    }
    &__element {
      padding: 30px 15px 31px 20px;
    }
    &__question {

      &_open { 
        &::after {
          right: -5px;
        }
      }
    }
  }
  /* ___________ footer ___________ */
  .footer {
    max-width: $bp_lap;
    min-width: $bp_tab;
    width: 100%;
  }
}