$violet: #2F2F51;
$orange: #EF7F04;
$dark-orange: #c26400;
$darker-orange: #b94a00;
$bp_lap: 1220px;
$bp_tab: 880px;
$bp_mob: 600px;

$lap-screen: 992px;
$lap-container: 880px;

$tablet-screen: 800px;
$tablet-container: 600px;

$mobile-screen: 550px;
$mobile-container: 360px;